@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './utilities.css';
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-Color);
    border-radius: 10px;
  }
:root{
    --primary-Color:#047aed;
    --secondary-Color:#1c3fa8;
    --dark-Color:#002240;
    --light-Color:#f4f4f4;
    --sucess-color:#5cb85c;
    --danger-color:#d9534f;
}
/* Base Styling  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2{
    line-height: 1.2;
    margin: 10px 0;
    font-weight: 300;
}
p{
    padding: 10px 0;
}
img{
    width: 100%;
}

/* Navbar Styling  */

.navbar{
    color: #fff;
    background-color: var(--primary-Color);
    height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}
.navbar a:hover{
   
    border-bottom: 1px solid #fff;
}

.navbar .flex{
    justify-content: space-between;
    
}
/* Showcase Section  */
.showcase{
    height: 400px;
    background-color: var(--primary-Color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 40%;
    gap: 30px;

}
.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
   z-index: 1;
    justify-self: flex-end;
    animation: slideInfromRight 1s ease;
}
.showcase-text{
    animation: slideInfromLeft 1s ease;
}
.showcase .form-control{
    margin: 30px 0;
}
.showcase input[type='text'],
.showcase input[type='email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    outline: none;
}
.btn-primary{
    border: none;
    outline: none;
}


.showcase::after,.showcase::before{
    content: '';
        
    position: absolute;
    bottom: -70px;
    height: 100px;
    background-color: #fff;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}


/* Stats  */
.stats{
    padding-top: 100px;
    animation: slideInfromBottom 1s ease;
}
.stats .grid{
    grid-template-columns: repeat(3, 1fr);
}
.stats-heading{
    max-width: 400px;
    margin:auto;
}
.stats .grid h3{
    font-size: 30px;
}
.stats .grid p{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-Color);
}
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
}
.cli .grid > *:first-child{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}
/*      Cloud      */
.cloud .grid{
    grid-template-columns: 4fr 3fr;

}

/* Languages  */

.languages .card{
    margin: 18px 10px 40px;
    text-align: center;
    transition: transform 500ms ease;
}
.languages .flex{
    flex-wrap: wrap;
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover{
    transform: translateY(-15px);
}

/* Footer  */
.social a{
    margin: 0 10px;
}

/* Features Page  */
.features-head img, .docs-head img{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}

/* Features-Main  */
.features-main .card> i {
    margin-right: 20px;
}
.features-main .grid{
    padding: 30px;
}
.features-main .grid>*:nth-child(1){
    grid-column: 1/ span 3;
}
.features-main .grid>*:nth-child(2){
    grid-column: 1/ span 2;
}

/* DOCS  */

.docs-main h3{
    margin: 20px 0;

}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li{
    font-size:17px ;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    transition: all 1s ease;
}
.docs-main a:hover{
    font-weight: bold;
}
code , pre{
    background: #333;
    padding: 10px;
    color: #fff;
}
/* Animations  */
@keyframes slideInfromLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes slideInfromRight{
    0%{
        opacity: 0.2;
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes slideInfromTop{
    0%{
        transform: translateY(-100%);
        opacity: 0.2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        
    }
}
@keyframes slideInfromBottom{
    0%{
        opacity: 0.2;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
/* Media Queries  */

/* Tablets  */
@media screen and (max-width:768px)  {
   .grid,
   .showcase .grid,
   .cli .grid,
   .cloud .grid,
   .stats .grid,
   footer .grid,
   .features-main .grid,
   .docs-main .grid{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
   }

   .showcase{
       height: auto;
   }
   .showcase-text{
       text-align: center;
       margin-top: 40px;
   }
    .showcase-form{
        justify-self: center;
    }
    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    .features-head,
    .docs-head,
    .features-main,
    .docs-head{
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img,
    .features-main img,
    .docs-head img{
        justify-self: center;
    }
    .features-main .grid>*:nth-child(1),
    .features-main .grid>*:nth-child(2){
        grid-column: 1;
    }
    .features-main .grid{
        grid-template-columns: 1fr !important;
    }
}
/* Mobile  */
@media  screen and (max-width:500px) {

    .navbar{
        height: 110px;
       
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
   
    
}